<h1>New Recipe</h1>

<%= form_for @recipe do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br><br>

    <%= f.fields_for :ingredients do |attribute| %>
        <%= attribute.label :name %>
        <%= attribute.text_field :name %><br>

        <%= attribute.label :quantity %>
        <%= attribute.text_field :quantity %><br><br>

    <% end %>
    <%= f.submit %>
<% end %>